In [40]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [27]:
#컬럼이름
col_names = ['Age', 'Workclass', 'Fnlwgt', 'Educational-num', 'Marital-status', 'Hours-per-week','target']

In [43]:

df = pd.read_csv('satisfaction_data.csv', low_memory = False)

In [44]:
dataset = pd.read_csv('satisfaction_data.csv', encoding='UTF-8', header=None, names=col_names)

# DataFrame 확인
print(dataset.shape) # (row개수, column개수)
print(dataset.info()) # 데이터 타입, row 개수, column 개수, 컬럼 데이터 타입
print(dataset.describe()) # 요약 통계 정보

(20000, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              20000 non-null  int64
 1   Workclass        20000 non-null  int64
 2   Fnlwgt           20000 non-null  int64
 3   Educational-num  20000 non-null  int64
 4   Marital-status   20000 non-null  int64
 5   Hours-per-week   20000 non-null  int64
 6   target           20000 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.1+ MB
None
                Age     Workclass        Fnlwgt  Educational-num  \
count  20000.000000  20000.000000  20000.000000     2.000000e+04
mean      43.220150      2.358600      1.170800     1.847070e+05
std       11.842909      1.136825      0.564396     1.011263e+05
min        1.000000      0.000000      0.000000     1.376900e+04
25%       40.000000      2.000000      1.000000     1.148212e+05
50%       40.000000      2.000000      1.000000     1.759280e+05
75%       50.000000      2.000000      2.000000     2.318010e+05
max       99.000000      5.000000      2.000000     1.097453e+06

       Marital-status  Hours-per-week
count    20000.000000    20000.000000
mean        39.434400       10.304350
std         12.877026        2.454938
min         17.000000        1.000000
25%         30.000000        9.000000
50%         38.000000       10.000000
75%         48.000000       13.000000
max         90.000000       16.000000

In [45]:
X = dataset.drop(columns=['target'])
y = dataset['target']

In [46]:
# 스케일러 설정
sc= StandardScaler()
sc_x = sc.fit_transform(X)

In [47]:
model = []
acc = []
result = []
# 10개의 데이터셋 분할을 위한 반복문
for m in range(10):
    
    #random_state를 달리하여 데이터셋 분할
    X_train,X_test , y_train,y_test = train_test_split(sc_x,y,stratify=y,random_state=m)
    #각 데이터셋 저장
    pd.DataFrame(X_train).to_csv(f'X_train_{m}.csv',index=False)
    pd.DataFrame(X_test).to_csv(f'X_test_{m}.csv',index=False)
    pd.DataFrame(y_train).to_csv(f'y_train_{m}.csv',index=False)
    pd.DataFrame(y_test).to_csv(f'y_test_{m}.csv',index=False)
    k_lst = []
    Max_score = 0
    
    #하이퍼 파라미터 튜닝을 위한 반복분
    
    # k값변화
    for k in range(2,13):
        #distance 연산 변화
        for dis in ['uniform','distance']:
            
            #규제 변화
            for p in [1,2]:
                
                # 거리 연산 방식 변화
                for me  in ['minkowski','manhattan']:
                    classifier = KNeighborsClassifier(n_neighbors=k,weights=dis,p=p,metric=me)
                    classifier.fit(X_train, y_train)
                    y_pred= classifier.predict(X_test)
                    accuracy =accuracy_score(y_test,y_pred)

                    result.append([accuracy,me,p,dis,k,m])
                    if accuracy >= Max_score:
                        Max_score = accuracy
                        max_model = classifier
                        max_data = [X_test,y_test]
                    else:
                        pass

    acc.append(Max_score)
    model.append(classifier)
    print(m,'done')

0 done
1 done
2 done
3 done
4 done
5 done
6 done
7 done
8 done
9 done

In [48]:
import matplotlib.pyplot as plt

In [49]:
re = pd.DataFrame(result,columns=['test_accuracy','me','p','dis','k','m'])
re

     test_accuracy         me  p       dis   k  m
0           0.6928  minkowski  1   uniform   2  0
1           0.6928  manhattan  1   uniform   2  0
2           0.6878  minkowski  2   uniform   2  0
3           0.6928  manhattan  2   uniform   2  0
4           0.7032  minkowski  1  distance   2  0
..             ...        ... ..       ...  .. ..
875         0.7580  manhattan  2   uniform  12  9
876         0.7498  minkowski  1  distance  12  9
877         0.7498  manhattan  1  distance  12  9
878         0.7454  minkowski  2  distance  12  9
879         0.7498  manhattan  2  distance  12  9

[880 rows x 6 columns]

In [50]:
max(acc)

0.7696

In [51]:
Max_model_n = model[acc.index(max(acc))]

In [53]:
pd.DataFrame(Max_model_n.predict(max_data[0])).to_csv('20196248.csv')

input()

In [ ]:
input()